extends template

block title
  title Artistic &hearts;

block content
  .clear
  .container.align-center.carousel
            .cycle-slideshow(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
                img(src='http://fc05.deviantart.net/fs71/f/2012/297/c/4/long_walk_to_town_by_sebasebs-d5itq69.jpg', alt='')
                img(src='http://fc08.deviantart.net/fs71/i/2012/296/e/e/shanty_town_lineup_by_sebasebs-d5irveg.jpg', alt='')
                img(src='http://fc04.deviantart.net/fs70/i/2012/170/f/4/ruins_by_dominuself-d540v1w.jpg', alt='')
                img(src='http://fc09.deviantart.net/fs71/i/2012/288/5/4/0028__by_kkaddu-d5hym9s.jpg', alt='')
                img(src='http://fc05.deviantart.net/fs71/f/2011/035/f/0/f083ec4954df5117b586ac578e1f9c9e-d38tb69.jpg', alt='')
  .container.content
    .row.content_logos
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Games.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Music.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Home.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.

      .row.content_logos
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Doc.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Photo_3.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
        .one.small-tablet.fifth.one-up-small-tablet.padded.align-center.conlog
            img(src='https://cdn1.iconfinder.com/data/icons/LABORATORY-Icon-Set-by-Raindropmemory/128/LL_Photo_2.png', alt='')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
    article.row
        section.one.padded.maincontent
            .container.align-center
                h1 Just Another Template
                p
                | Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    .pad-left.pad-right.tabber
        .tabs
            ul
                li
                    a.active(href='#content-1')
                      img(src='https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/32/info.png', alt='')
                li
                    a(href='#content-2')
                      img(src='https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/32/money_bag.png', alt='')
                li
                    a(href='#content-3')
                      img(src='https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/32/chiken.png', alt='')
                li.pull-right
                    a(href='#content-6')
                        img(src='https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/32/palm_tree.png', alt='')
                li.pull-right
                    a(href='#content-5')
                        img(src='https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/32/border_color.png', alt='')
            #content-1.active.tcontent
                h1 Tab 1
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                img(src='http://www.platux.com/wp-content/uploads/2011/10/Dubai-Marina-Skyline-by-Platux-Modern-ART-Photography.jpg', alt='')
            #content-2.tcontent
                h1 Tab 2
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                p.modal.gallery
                  a(href='http://1.bp.blogspot.com/-vazROzvm19c/UILO8D2hzsI/AAAAAAAAMbQ/OPmNox9YngI/s640/3d+Street+Art02.jpg', title='Street Art 1')
                    img(src='http://1.bp.blogspot.com/-vazROzvm19c/UILO8D2hzsI/AAAAAAAAMbQ/OPmNox9YngI/s640/3d+Street+Art02.jpg')
                  a(href='http://wordlesstech.com/wp-content/uploads/2011/02/3d-street-art.jpg', title='Street Art 2')
                    img(src='http://wordlesstech.com/wp-content/uploads/2011/02/3d-street-art.jpg')
                  a(href='http://1.bp.blogspot.com/-1ryoVakcqBI/UILPXvxZVkI/AAAAAAAAMb4/xHcwGhun2WI/s640/3d+Street+Art07.jpg', title='Street Art 3')
                    img(src='http://1.bp.blogspot.com/-1ryoVakcqBI/UILPXvxZVkI/AAAAAAAAMb4/xHcwGhun2WI/s640/3d+Street+Art07.jpg')
                  a(href='http://idesignideas.net/wp-content/uploads/2013/06/3d-street-art-pacman.jpg', title='Street Art 4')
                    img(src='http://idesignideas.net/wp-content/uploads/2013/06/3d-street-art-pacman.jpg')
                .clear
              #content-3.tcontent
                h1 Tab 3
                dl
                    dt Definition list
                    dd
                        | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    dt Lorem ipsum dolor sit amet
                    dd
                        | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #content-4.tcontent
                h1 Tab 4
                p
                    | You should not be able to get to this content, because the tabs has been disabled.
            #content-5.tcontent
                h1 Tab 5
                h3 The tab for this content is aligned to the right.
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
            #content-6.tcontent
                h1 Tab 6
                h3 The tab for this content is aligned to the right as well.
                p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus


      .row.members
        .one.third.align-center.padded
          img(src='http://sxp.com/avatar/unknown_user&r=G.jpg', alt='')
          h4 John Doe
          span  CEO
          p
              | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          .member-social.padded
              a.social-icon.facebook.medium.tooltip(href='#', role='tooltip', data-title='Facebook') Facebook
              a.social-icon.googleplus.medium.tooltip(href='#', role='tooltip', data-title='Google +') GooglePlus
              a.social-icon.twitter.medium.tooltip(href='#', role='tooltip', data-title='Twitter') Twitter
        .one.third.align-center.padded
         img(src='http://sxp.com/avatar/unknown_user&r=G.jpg', alt='')
         h4 Jane Doe
         span  Web Designer
         p
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         .member-social.padded
            a.social-icon.facebook.medium.tooltip(href='#', role='tooltip', data-title='Facebook') Facebook
            a.social-icon.googleplus.medium.tooltip(href='#', role='tooltip', data-title='Google +') GooglePlus
            a.social-icon.twitter.medium.tooltip(href='#', role='tooltip', data-title='Twitter') Twitter
        .one.third.align-center.padded
         img(src='http://sxp.com/avatar/unknown_user&r=G.jpg', alt='')
         h4 Jack Doe
         span  Web Developer
         p
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         .member-social.padded
            a.social-icon.facebook.medium.tooltip(href='#', role='tooltip', data-title='Facebook') Facebook
            a.social-icon.googleplus.medium.tooltip(href='#', role='tooltip', data-title='Google +') GooglePlus
            a.social-icon.twitter.medium.tooltip(href='#', role='tooltip', data-title='Twitter') Twitter
