extends template

block title
    title Artistic &hearts;

block content

    article.container.content.padded
        h2.align-center Firmenvorstellung
        p.align-center
            img(src='images/spec/h7.png', alt='')
        p
        p  Die Spedition TLS Express wurde von dem jungen, dynamischen und zuverlässigen Unternehmer mit 10 Jahre Berufserfahrung im Bereich Logistik gegründet. Sein Team erschliesst durch breites Wissen und grosser Anzahl an geschäftlichen Beziehungen das Vertrauen seiner Kunden im Bereich nationale und internationale Transporte, Spedition und Logistik.
        p  Die Aufgaben werden mit eigenen Mitteln und mit der Einbeziehung von mehr als 100 Subunternehmern erledigt. Der Fuhrpark, der sowohl aus 1,5-Tonner Sprintern als auch vom 13,6 Meter langem (24-Tonner) Sattelschlepper besteht, ermöglicht eine Kapazität vom 1-8 Europaletten bis 33-36 Europaletten. In unserem Büro in Budapest stehen unsere mehrsprachigen Kollegen, die Deutsch, Englisch, Rumänisch und Ungarisch auch sprechen können für Sie gerne zur Verfügung.
        p  Wir möchten mit unseren Dienstleistungen auch die individuellen Wünsche unserer Auftraggeber flexibel, mit individuellen Lösungen für Speditionsproblemen erfüllen.
        p
            strong Unsere Leistungen:
        ul
            li  schnelle Verwaltung
            li  Planung von optimalen Verkehrswegen
            li  Auswahl geeigneter Transportmitteln
            li  Sendungsverfolgung
            li  Fachberatung
            li  Tägliche Statusmeldungen für unsere Auftraggeber
        p Als die Jahre vergingen, hat das vom engagierten Team ausgebaute Netz sich verbreitet, die Kundenanzahl auf dem ganzen Kontinent schrittweise zugenommen. So verbindet heute das Netzwerk von TLS Express Kft. mehr als 20 Länder und Gebite miteinander, vor allem osteuropäische Länder, wie Rumänien, Bulgarien, Griechenland, Türkei und Moldavien, mit den westeuropäischen Länder.
        p Das Unternehmen verfügt über jahrelange Erfahrungen im Speditionsgeschäft in die osteuropäische Länder, in dem das Unternehmen nachhaltige Wettbewerbsvorteile erreicht hat. Das Unternehmen kann eine breite Palette von Warentransporten durchführen, wie z.B.: Tiefkühlware, Medizintransporte, Transporte von Elektrogeräten.
        p Die TLS Gesellschaft bietet eine Vielzahl von zuverlässigen, proaktiven Dienstleistungen für alle Transporte ihrer Partner an, die durch die Marktkenntnis des lokalen Marktes gesichert werden. Wir sind stolz darauf, dass der Firmenname TLS Express Kft. das Engagement gegenüber den Kunden bedeutet.
        p Die Entwicklung des Unternehmens erfolgt durch unsere Begeisterung, unser Erfolg basiert auf den präzisen Dienstleistungen, die wir unseren Kunden anbieten. Unsere Partner, mit denen wir eine langjahrige, vertrauenswürdige Geschäftsbeziehung haben, und von denen ein Teil internationale Konzerne und klein – und mittelständische Unternehmen sind, beauftragen uns jeden Tag mit mehreren Gütertransporten.
        p Die Gesellschaft bemüht sich um die Erschaffung einer stabilen wirtschaftlichen Lage, die auch im Interesse des Inhabers steht, deshalb verfolgt er auch die Entwicklung der finanziellen Ziele.
        p Lassen Sie sich von unserer qualitativen Arbeit und Zuverlässigkeit überzeugen. Wir hoffen Sie in der Zukunft zu unseren zufriedenen Kunden zählen zu dürfen.
        p Fordern Sie Ihr persönliches kostenloses Angebot an! Für weitere Informationen und Fragen stehen wir Ihnen gerne zur
        p
          strong Verfügung unter:
        p Web: www.tlsexpress.eu
        p
            table
               tbody
                    tr
                       td Fax:
                       td +361-257-0708
                       td
                    tr
                       td Tréfás Zsolt:
                       td +3670-324-0103
                       td zsolt.trefas@tlsexpress.eu
                    tr
                       td Sebők Zoltán
                       td +3670-324-0104
                       td zoltan.sebok@tlsexpress.eu
                    tr
                       td Cseh Zsuzsa
                       td +3670-326-0455
                       td zsuzsa.cseh@tlsexpress.eu


