extends template

block title
  title Artistic &hearts;

block content
  .clear
  .carousel.container
      .row
          .one.ninth
          .seven.ninth
              .cycle-slideshow.align-center(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
                img(src='images/spec/c6.png', alt='')
                img(src='images/spec/c4v.png', alt='')
                img(src='images/spec/c2v.png', alt='')
                img(src='images/spec/c7v.png', alt='')
                img(src='images/spec/c3v.png', alt='')
              .slideshadow.align-center
                img(src='images/spec/cshadow.png', alt='')
          .one.ninth

  .container.content
      .row.conbox
          .one.third.one-up-small-tablet.one-up-mobile.padded.align-center
              h2 Über Uns
              p
                  .align-center
                    img(src='images/spec/sz3.png', alt='')
              p  Die Spedition TLS Express wurde von dem jungen, dynamischen und zuverlässigen Unternehmer mit 10 Jahre Berufserfahrung im Bereich Logistik gegründet. Sein Team erschliesst durch breites Wissen und grosser Anzahl...
          .one.third.one-up-small-tablet.one-up-mobile.padded.align-center
              h2 Offertanfrage
              p
                  .align-center
                     img(src='images/spec/nszlog.jpg', alt='')
              p
                 strong Fordern Sie online einfach.
              p
              p  In unserem "Request for Quotation"-Seite können Sie wichtige Informationen für die Bestellung eingeben und unsere Mitarbeiter werden Sie kontaktieren.


          .one.third.one-up-small-tablet.one-up-mobile.padded.align-center
              h2 Kontakt
              p
                  .align-center
                     img(src='images/spec/customer_support_banner.jpeg', alt='')
              p
                  strong Holen Sie sich mit uns in Verbindung!
              p
              p  In unserer "Kontakt"-Seite finden Sie die wichtigsten Kontaktdaten. Wenn Sie Fragen haben, zögern Sie nicht, uns zu kontaktieren!
