extends template

block title
    title Artistic &hearts;

block content

    article.container.content.padded
        h2.align-center Dienstleistungen
        p.align-center
            img(src='images/spec/h1.png', alt='')
        br
        br
        p
            b Internationale Transporte  „FTL"
        |  Unsere internationale Transportdienstleistungen werden mit eigenen Fahrzeugen und mit der Einbeziehung von unseren Subunternehmern (mit denen wir mehrjährige Beziehungen haben) durchgeführt.
        p
            b Kühltransporte
        p
        br
        br
        p
            b  Internationale Spedition
        | Speditionsdienstleistungen für unsere Kunden in ganz Europa. Wir haben langjährige Erfahrungen in Rumänien, Bulgarien, Italien, Tschechien, in der Slovakei und in Polen.
        br
        br
        br
        br
        p
            b  Sammeltransport, Teiltransport  „LTL”
        br
        p
            b „Door to Door” Sammeltransport in Osteuropa
        br
        p
            b Expresstransporte
        br
        br
        br
        br
        p
            b Inlandtransport
        p Transport von Stückgütern, Kartons und Paletten für Unternehmen und Privatpersonen im ganzen Land, gelegentlich oder für die Dauer.
        br
        br
        br
        p
            b Logistik
        p Unser Ziel ist es, alle Teilnehmer der Versorgungskette auf hohem Niveau unter optimalen Bedingungen mit wettbewerbsfähigen, und sicheren Transport, Spedition und komplexen Logistikdienstleistungen zu bedienen.
        br
        br
        br
        p Wir bieten unseren Auftraggeber komplette Logistiklösungen auch für Ihre individuelle Wünsche auf allen Stufen der Versorgungskette an.
        br
        br
        br
        p
            b Lagerlogistik
        br
        br
        br
        p
            img(src='images/spec/cam1.png', alt='').artimage.pull-left
            img(src='images/spec/sz2.png', alt='').artimage.pull-right
        .clear












