extends template

block title
    title OlloFoto;

block content
    .container.region.content
        .container.align-center.carousel
            .cycle-slideshow(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
                img(src='images/slider/s1.png', alt='')
                img(src='images/slider/s2.png', alt='')
                img(src='images/slider/s3.png', alt='')
                img(src='images/slider/s4.png', alt='')
                img(src='images/slider/s5.png', alt='')
                img(src='images/slider/s6.png', alt='')
                img(src='images/slider/s7.png', alt='')
                img(src='images/slider/s8.png', alt='')
                img(src='images/slider/s9.png', alt='')
                img(src='images/slider/s10.png', alt='')
        .stat.block.gallery
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='https://lh4.googleusercontent.com/-wrOMAZP3LCE/US8YRESUeEI/AAAAAAAAADM/6chXsK9BoHs/w506-h750/Beauty-of-nature-random-4884759-1280-800.jpg', alt='')
                p Lorem ipsum dolor
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='http://4.bp.blogspot.com/-QvTuze05RfI/T0piUn7zWBI/AAAAAAAAB1Y/PbqkfkShJbY/s1600/Beautiful+Nature+pictures.jpg', alt='')
                p Lorem ipsum dolor
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='http://3.bp.blogspot.com/-0K132QvQ1D8/UVknJpBvxbI/AAAAAAAAGMI/ZtFyefyHJac/s1600/Beautiful-Nature-+wallpaper.jpg', alt='')
                p Lorem ipsum dolor
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='http://www.merlefest.org/images/2010/Images/ActivitiesImages/Nature%20Walk%202012%20-%205.jpg', alt='')
                p Lorem ipsum dolor
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='http://t2.gstatic.com/images?q=tbn:ANd9GcTV12k6FnefSw-L0os_2b62zsNAuuGDtFUUk1-D9Ab9uhTUfzja', alt='')
                p Lorem ipsum dolor
            .statbody.one.third.two-up-small-tablet.one-up-mobile
                img(src='http://t0.gstatic.com/images?q=tbn:ANd9GcTKyn9SnWG3EGBoH0WbIu6WQ-2Sgs04mXJWNhqeH7rvsKQw1las', alt='')
                p Lorem ipsum dolor

        .clear


