extends template

block title
    title OlloFoto;

block content
    .container.region.content
        .container.align-center.carousel
            .cycle-slideshow(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
                img(src='images/slider/s1.png', alt='')
                img(src='images/slider/s2.png', alt='')
                img(src='images/slider/s3.png', alt='')
                img(src='images/slider/s4.png', alt='')
                img(src='images/slider/s5.png', alt='')
                img(src='images/slider/s6.png', alt='')
                img(src='images/slider/s7.png', alt='')
                img(src='images/slider/s8.png', alt='')
                img(src='images/slider/s9.png', alt='')
                img(src='images/slider/s10.png', alt='')
        .stat.gallery_categories
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s1.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s2.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s3.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s4.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s5.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s6.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
                img(src='images/slider/s7.png', alt='')
                h2 Guatemala
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .statbody.block.one.fourth.two-up-small-tablet.one-up-mobile
            .clear