extends template

block title
  title OlloFoto;

block content
   .container.region.content
       .container.align-center.carousel_fooldal
           .cycle-slideshow(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
               img(src='images/slider/s1.png', alt='')
               img(src='images/slider/s2.png', alt='')
               img(src='images/slider/s3.png', alt='')
               img(src='images/slider/s4.png', alt='')
               img(src='images/slider/s5.png', alt='')
               img(src='images/slider/s6.png', alt='')
               img(src='images/slider/s7.png', alt='')
               img(src='images/slider/s8.png', alt='')
               img(src='images/slider/s9.png', alt='')
               img(src='images/slider/s10.png', alt='')
       .stat.padded.szolgaltatasok.leftpadded.two.third.pull-left.padded.leftpadded
           h2 Fotózási szolgáltatásaink
           .statbody
               p Kapitális kezdőbetű. Immár 15 éve foglalkozunk Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus enim diam, et fermentum augue consectetur ut. In tempor dui lorem, in vehicula tellus tempus posuere. Proin feugiat ante ac elit sodales egestas. Aliquam erat volutpat. Phasellus convallis vulputate ornare. Ut facilisis sollicitudin tortor, vitae tincidunt leo. Donec a lacinia quam, eget dictum leo. Fusce tempor malesuada consequat. Cras fringilla felis velit, ut molestie dolor porttitor nec. Aliquam ullamcorper nulla ut consequat molestie. Praesent dictum suscipit diam, ut hendrerit mi ornare sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed eleifend turpis.
       .image.pull-right
           img(src='http://ollo.webolucio.hu/site/upload/fenykepezogep.png', alt='image').pull-right
       .clear
       .stat
           .statBody
               ul.fokategoriak
                   li.one.third.two-up-small-tablet.padded
                       p termékfotók
                       .boxy
                          .boxicon
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Termékfotózás
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                   li.one.third.two-up-small-tablet.padded
                       p természet
                       .boxy
                           .boxicon  
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Természetfotózás
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                   li.one.third.two-up-small-tablet.padded
                       p szocio
                       .boxy
                            .boxicon  
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Szocio
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                   li.one.third.two-up-small-tablet.padded
                       p portré
                       .boxy
                            .boxicon  
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Portré
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                   li.one.third.two-up-small-tablet.padded
                       p állat
                       .boxy
                            .boxicon  
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Állat
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                   li.one.third.two-up-small-tablet.padded
                       p makró
                       .boxy
                            .boxicon  
                       img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                       .roundedbox  
                       .kategoria-text
                           h3 Makró
                           p
                               | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
           .stat.ajanlo-text.dark_bg_h2.two.fifth.firstCapital
               .statBody
                   h2  Kinek ajánljuk?
                   p.alcim   /esetleg valami alcím?
                   p.texter   Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
           .stat.egyedi-foto-text.dark_bg_h2.three.fifth.firstCapital
               .statBody
                   h2  Miért jó az egyedi fotó?
                   p.alcim    /mert aztmondtam és kész!
                   p.texter   Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
           .clear
           .stat.bottomicons.padded
               .statbody
                   ul
                       li.one.third
                           .bottomicon_bg.centered
                               .bottomicon_bgcolor
                               #photo_icon
                           .bottom-icon-text
                             p Megbízható
                       li.one.third
                           .bottomicon_bg.centered
                               .bottomicon_bgcolor.centered
                               #rocket_icon.centered
                               #smoke_01.centered
                               #smoke_02.centered
                               #smoke_03.centered
                           .bottom-icon-text
                               p Gyors
                       li.one.third
                           .bottomicon_bg.centered
                               .bottomicon_bgcolor.centered
                               #star_icon.centered
                           .bottom-icon-text.centered
                               p Profi
           .clear

