extends template

block title
  title OlloFoto;

block content
            .region.content
                .stat.firstCapital.szolgaltatasok.fotozasi-szolgaltatasaink
                    h2 Fotózási szolgáltatásaink
                    .statBody
                        p
                            | Kapitális kezdőbetű. Immár 15 éve foglalkozunk Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus enim diam, et fermentum augue consectetur ut. In tempor dui lorem, in vehicula tellus tempus posuere. Proin feugiat ante ac elit sodales egestas. Aliquam erat volutpat. Phasellus convallis vulputate ornare. Ut facilisis sollicitudin tortor, vitae tincidunt leo. Donec a lacinia quam, eget dictum leo. Fusce tempor malesuada consequat. Cras fringilla felis velit, ut molestie dolor porttitor nec. Aliquam ullamcorper nulla ut consequat molestie. Praesent dictum suscipit diam, ut hendrerit mi ornare sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed eleifend turpis.
                .separator
                .image.fenykepezo
                    img(src='http://ollo.webolucio.hu/site/img/fenykepezogep.png', alt='fenykepezo', title='fenykepezo')
                .separator
                .stat.cb
                    .statBody
                .separator
                .stat.fokategoriak
                    .statBody
                        ul.fokategoriak
                            li.one.third.two-up-small-tablet.padded
                                p termékfotók
                                .boxy  
                                    .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Termékfotózás
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            li.one.third.two-up-small-tablet.padded
                                p természet
                                .boxy  
                                    .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Természetfotózás
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            li.one.third.two-up-small-tablet.padded
                                p szocio
                                .boxy  
                                    .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Szocio
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            li.one.third.two-up-small-tablet.padded
                                p portré
                                .boxy  
                                    .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Portré
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            li.one.third.two-up-small-tablet.padded
                                p állat
                                .boxy  
                                  .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Állat
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            li.one.third.two-up-small-tablet.padded
                                p makró
                                .boxy  
                                  .boxicon  
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                .roundedbox  
                                .kategoria-text
                                    h3 Makró
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                .separator
                .stat.dark_bg_h2.firstCapital.ajanlo-text.two.fifth
                    .statBody
                        h2 Kinek ajánljuk
                        p /esetleg valamin alcím?
                        div.texter
                            p
                                | Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
                .separator
                .stat.dark_bg_h2.firstCapital.egyedi-foto-text.three.fifth
                    .statBody
                        h2 Miért jó az egyedi fotó?
                        p /mert azt mondtam és kész!
                        div.texter
                            p
                                | Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
                .separator
                .stat.cb
                    .statBody
                .separator
                .stat.bottomicons
                    .statBody
                        ul
                            li
                                .bottomicon_bg  
                                    .bottomicon_bgcolor  
                                     #photo_icon  
                                p Megbízható
                            li
                                .bottomicon_bg  
                                    .bottomicon_bgcolor  
                                    #rocket_icon  
                                    #smoke_01  
                                    #smoke_02  
                                    #smoke_03  
                                p Gyors
                            li
                                .bottomicon_bg  
                                    .bottomicon_bgcolor  
                                    #star_icon  
                                p Profi
                .separator
                .stat.cb
                    .statBody
                .clear

