!!! 5
| <!--[if lt IE 7]><html class="no-js ie ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 7]>   <html class="no-js ie ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 8]>   <html class="no-js ie ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 9]>   <html class="no-js ie ie9 lt-ie10"><![endif]-->
| <!--[if gt IE 9]><html class="no-js ie ie10"><![endif]-->
| <!--[if !IE]><!-->
html.no-js
  | <!--<![endif]-->

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    block title
    link(rel='apple-touch-icon', href='../images/apple-icons/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon', sizes='57x57', href='../images/apple-icons/apple-touch-icon-57x57-precomposed.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../images/apple-icons/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../images/apple-icons/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../images/apple-icons/apple-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileImage', content='../images/apple-icons/apple-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#ffffff')
    // Modernizr 
    script(src='js/libs/modernizr-2.6.2.min.js')
    // jQuery 
    script(type='text/javascript', src='js/libs/jquery-1.9.1.min.js')
    // framework css 
    link(type='text/css', rel='stylesheet', href='css/global.css')
    // USER css
    link(type='text/css', rel='stylesheet', href='css/style.css')
    //if IE
      link(type='text/css', rel='stylesheet', href='css/global-ie.css')
    script(type='text/javascript').
      // extend Modernizr to have datauri test
      (function(){
        var datauri = new Image();
        datauri.onerror = function() {
          Modernizr.addTest('datauri', function () { return false; });
        };
        datauri.onload = function() {
          Modernizr.addTest('datauri', function () { return (datauri.width == 1 && datauri.height == 1); });
          Modernizr.load({
            test: Modernizr.datauri,
            nope: '../css/no-datauri.css'
          });
        };
        datauri.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
      })();
      // SVG support?
      Modernizr.load({
        test: Modernizr.inlinesvg,
        yep: [
          '../css/social-icons-svg.css'
        ],
        nope: [
          '../css/social-icons-png.css'
        ]
      });
      // polyfill for HTML5 placeholders
      Modernizr.load({
        test: Modernizr.input.placeholder,
        nope: [
          '../css/placeholder_polyfill.min.css',
          '../js/libs/placeholder_polyfill.jquery.js'
        ]
      });



body
    ntent
        #container.fooldal.alapertelmezett
            .region.header
                div
                    .image.block.logo
                        img(src='http://ollo.webolucio.hu/site/upload/logo.png', alt='ollofoto_logo', title='logó')
                    .separator
                    .stat.block.szinvaltas
                        .statBody
                            p
                                img(alt='', src='http://ollo.webolucio.hu/site/upload/szinvaltas.png', style='width: 18px; height: 18px; float: left;')
                                | színváltás
                    .separator
                    .block.fomenu
                        nav
                            ul.menu
                                li.active
                                  a(href='/') főoldal
                                li
                                  a(href='/fotogaleria') fotógaléria
                                li
                                  a(href='/termekfotozas') termékfotózás
                                li
                                  a(href='/bemutatkozas') bemutatkozás
                                li
                                  a(href='/kepvasarlas') képvásárlás
                                li
                                  a(href='/kapcsolat') kapcsolat
                                li
                                  a(href='/tesztek') tesztek
            .region.content
                div
                    .stat.firstCapital.szolgaltatasok.fotozasi-szolgaltatasaink
                        h2 Fotózási szolgáltatásaink
                        .statBody
                            p
                                | Kapitális kezdőbetű. Immár 15 éve foglalkozunk Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus enim diam, et fermentum augue consectetur ut. In tempor dui lorem, in vehicula tellus tempus posuere. Proin feugiat ante ac elit sodales egestas. Aliquam erat volutpat. Phasellus convallis vulputate ornare. Ut facilisis sollicitudin tortor, vitae tincidunt leo. Donec a lacinia quam, eget dictum leo. Fusce tempor malesuada consequat. Cras fringilla felis velit, ut molestie dolor porttitor nec. Aliquam ullamcorper nulla ut consequat molestie. Praesent dictum suscipit diam, ut hendrerit mi ornare sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed eleifend turpis.
                    .separator
                    .image.fenykepezo
                        img(src='http://ollo.webolucio.hu/site/img/fenykepezogep.png', alt='fenykepezo', title='fenykepezo')
                    .separator
                    .stat.cb
                        .statBody
                    .separator
                    .stat.fokategoriak
                        .statBody
                            ul.fokategoriak
                                li.one.third.two-up-small-tablet.padded
                                    p termékfotók
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Termékfotózás
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                li.one.third.two-up-small-tablet.padded
                                    p természet
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Természetfotózás
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                li.one.third.two-up-small-tablet.padded
                                    p szocio
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Szocio
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                li.one.third.two-up-small-tablet.padded
                                    p portré
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Portré
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                li.one.third.two-up-small-tablet.padded
                                    p állat
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Állat
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                li.one.third.two-up-small-tablet.padded
                                    p makró
                                    .boxy  
                                        .boxicon  
                                    img(alt='', src='http://ollo.webolucio.hu/site/upload/category_pictures_01.jpg', style='width: 300px; height: 300px;')
                                    .roundedbox  
                                    .kategoria-text
                                        h3 Makró
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    .separator
                    .stat.dark_bg_h2.firstCapital.ajanlo-text.two.fifth
                        .statBody
                            h2 Kinek ajánljuk
                            p /esetleg valamin alcím?
                            div.texter
                                p
                                    | Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
                    .separator
                    .stat.dark_bg_h2.firstCapital.egyedi-foto-text.three.fifth
                        .statBody
                            h2 Miért jó az egyedi fotó?
                            p /mert azt mondtam és kész!
                            div.texter
                                p
                                    | Miért kell a szöveg? Kérdezhetnéd. Én meg megmondom a választ. Azért kell, mert az emberek is olvasnak a neten, valamint minél több a szöveg az adott témában, jelen esetben a fotózás, termékfotózás témában, annál jobb eredményekre lehet számítani google találat terén. Miután átnéztem ezeket a kulcsszavakat, azt tapasztaltam, hogy nagyon kevés konkurens oldalon van szöveg, ott sem túl sok, így ha ti tudtok sok szöveget gyártani, nagyon sokszor fog a google keresésben megjelenni az oldal. Hirdetés nélkül is.
                    .separator
                    .stat.cb
                        .statBody
                    .separator
                    .stat.bottomicons
                        .statBody
                            ul
                                li
                                    .bottomicon_bg  
                                        .bottomicon_bgcolor  
                                            #photo_icon  
                                    p Megbízható
                                li
                                    .bottomicon_bg  
                                        .bottomicon_bgcolor  
                                        #rocket_icon  
                                        #smoke_01  
                                        #smoke_02  
                                        #smoke_03  
                                    p Gyors
                                li
                                    .bottomicon_bg  
                                        .bottomicon_bgcolor  
                                        #star_icon  
                                    p Profi
                    .separator
                    .stat.cb
                        .statBody
                    .clear

                    .clear

    footer.footer
        .container.padded
            .row.main_footer.padded



// scripts
script(type='text/javascript', src='js/plugins/jquery.cycle2.js')
script(type='text/javascript', src='js/plugins/jquery.magnific-popup.js')
script(type='text/javascript', src='js/groundwork.all.js')
// google analytics
script(type='text/javascript').
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
