@charset "CP852";
/* line 3, ../src/scss/style.scss */
body { font-family: OpenSans, 'sans-serif'; color: black; background-color: white; font-weight: 600; }

/* line 10, ../src/scss/style.scss */
#container { width: 100%; border-top: 2em solid #3b3c3d; background-color: #f7f7f7; float: left; }

/* line 17, ../src/scss/style.scss */
.header { max-width: 962px; margin: 0 auto; }

/* line 22, ../src/scss/style.scss */
.fomenu { padding-top: 3.5em; }

/* line 26, ../src/scss/style.scss */
.main_logo { position: relative; top: -1.8em; left: 0; }

/* line 32, ../src/scss/style.scss */
.content { background-color: #f7f7f7; border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4; display: block; max-width: 962px; margin: 0 auto; }

/* line 41, ../src/scss/style.scss */
.content .h2 { color: #37878d; font-size: 1.5em; }

/* line 46, ../src/scss/style.scss */
.content .leftpadded { padding-left: 2.5em; }

/* line 54, ../src/scss/style.scss */
.szolgaltatasok { margin-top: 4em; }

/* line 59, ../src/scss/style.scss */
.fokategoriak { margin-left: 0 !important; }

/* line 63, ../src/scss/style.scss */
.fokategoriak li { position: relative; float: left; text-align: center; height: 380px; overflow: hidden; border: 3px solid #f7f7f7; z-index: 501; background-color: #f7f7f7; }

/* line 73, ../src/scss/style.scss */
.fokategoriak li p { font-size: 16pt; padding: 40px 0 20px; }

/* line 78, ../src/scss/style.scss */
.fokategoriak li img { border-radius: 10px; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; transition: 0.5s ease; -ms-transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

/* line 89, ../src/scss/style.scss */
.fokategoriak li:hover img { margin-top: 2em; }

/* line 92, ../src/scss/style.scss */
.roundedbox { position: relative; top: -297px; left: 5%; width: 90%; height: 74%; border-radius: 8px; border: 3px solid white; z-index: 500; background-color: rgba(88, 88, 88, 0); -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: 0.5s ease; transition: 0.5s ease; -ms-transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

/* line 110, ../src/scss/style.scss */
.fokategoriak li:hover .roundedbox { position: relative; top: -304px; left: 0px; width: 100%; height: 100%; border-radius: 8px; border: 3px solid; border-color: rgba(255, 255, 255, 0); background-color: rgba(88, 88, 88, 0.75); z-index: 500; }

/* boxicon a kék ikon ami felugrik hoverre */
/* line 124, ../src/scss/style.scss */
.boxy { width: 100%; padding-left: 30%; display: block; height: 20%; position: absolute; }

/* line 132, ../src/scss/style.scss */
.boxicon { background-image: url("../images/boxicon.png"); position: absolute; top: -2em; opacity: 0; transition: .5s ease; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; -ms-transform: scale(0.2); -moz-transform: scale(0.2); -webkit-transform: scale(0.2); transform: scale(0.2); }

/* line 147, ../src/scss/style.scss */
.fokategoriak li:hover .boxicon { width: 117px; height: 130px; opacity: 1; z-index: 505; background-image: url("../images/boxicon.png"); -ms-transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); }

/* line 159, ../src/scss/style.scss */
.kategoria-text h3 { width: 92%; position: absolute; top: 225px; margin-left: auto !important; color: white; font-size: 16pt; text-align: center; opacity: 0; z-index: 506; }

/* line 172, ../src/scss/style.scss */
.kategoria-text p { position: absolute; padding: 0 2em; top: 230px; margin-left: auto !important; color: white; font-size: 11pt !important; font-style: italic; opacity: 0; width: 92%; z-index: 506; }

/* line 186, ../src/scss/style.scss */
.fokategoriak li:hover .kategoria-text h3 { opacity: 1; transition: opacity 0.6s ease 0.2s; -ms-transition: opacity 0.6s ease 0.2s; -moz-transition: opacity 0.6s ease 0.2s; -webkit-transition: opacity 0.6s ease 0.2s; }

/* line 194, ../src/scss/style.scss */
.fokategoriak li:hover .kategoria-text p { opacity: 1; transition: opacity 1s ease 0.3s; -ms-transition: opacity 1s ease 0.3s; -moz-transition: opacity 1s ease 0.3s; -webkit-transition: opacity 1s ease 0.3s; }

/* line 202, ../src/scss/style.scss */
.ajanlo-text, .egyedi-foto-text { margin-top: 6em; }

/* line 206, ../src/scss/style.scss */
.dark_bg_h2 { padding: 2em; }

/* line 210, ../src/scss/style.scss */
.dark_bg_h2 h2 { background-color: #3b3c3d; font-size: 2.5em; display: table; padding-left: 0.35em; padding-right: 0.15em; margin-bottom: 0 !important; line-height: 1.4em; }

/* line 220, ../src/scss/style.scss */
.dark_bg_h2 .alcim { background-color: #3b3c3d; display: table; color: #fff; font-size: 1.2em; padding-left: 0.45em; padding-right: 0.15em; padding-bottom: 0.3em; }

/* line 230, ../src/scss/style.scss */
.dark_bg_h2 .texter { padding-top: 1.5em; }

/* line 234, ../src/scss/style.scss */
.ajanlo-text h2 { color: #eab026; }

/* line 238, ../src/scss/style.scss */
.egyedi-foto-text h2 { color: #3dbbc4; }

/* Kapitális kezdőbetű a paragrafusoknál */
/* line 243, ../src/scss/style.scss */
.firstCapital p:first-letter { font-size: 2em; }

/* 3 icons on bottom of main page */
/* line 248, ../src/scss/style.scss */
.bottomicons ul { margin-left: 0 !important; list-style: none !important; }

/* line 256, ../src/scss/style.scss */
.bottomicon_bg { width: 268px; height: 268px; background-image: url("http://ollo.webolucio.hu/site/img/3icons_border.png"); position: relative; }

/* line 262, ../src/scss/style.scss */
.bottomicon_bgcolor { position: absolute; top: 24px; left: 24px; width: 220px; height: 219px; background-color: white; }

/* line 271, ../src/scss/style.scss */
.bottom-icon-text { width: 100%; }

/* line 274, ../src/scss/style.scss */
.bottomicons .bottom-icon-text p { text-align: center; font-size: 16pt; font-weight: 300; }

/* the rocket */
/* line 283, ../src/scss/style.scss */
#rocket_icon { width: 105px; height: 163px; background-image: url("http://ollo.webolucio.hu/site/img/rocket.png"); position: absolute; top: 50px; left: 80px; -ms-transform: scale(0.8); -moz-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); transition: .5s ease; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; }

/* line 299, ../src/scss/style.scss */
#smoke_01 { width: 220px; height: 37px; position: absolute; bottom: 25px; left: 24px; background-image: url("http://ollo.webolucio.hu/site/img/smoke_01.png"); opacity: 0; transition: .5s ease; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; }

/* line 313, ../src/scss/style.scss */
#smoke_02 { width: 220px; height: 37px; position: absolute; bottom: 25px; left: 24px; background-image: url("http://ollo.webolucio.hu/site/img/smoke_02.png"); opacity: 0; transition: .5s ease; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; }

/* line 327, ../src/scss/style.scss */
#smoke_03 { width: 220px; height: 37px; position: absolute; bottom: 25px; left: 24px; background-image: url("http://ollo.webolucio.hu/site/img/smoke_03.png"); opacity: 0; transition: .5s ease; -ms-transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: all 0.5s ease; }

/* hover state for rocket */
/* line 342, ../src/scss/style.scss */
.bottomicons ul li:hover #rocket_icon { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); top: 30px; left: 84px; transition: all 1s cubic-bezier(0.9, 0, 1, 1); -ms-transition: all 1s cubic-bezier(0.9, 0, 1, 1); -moz-transition: all 1s cubic-bezier(0.9, 0, 1, 1); -webkit-transition: all 1s cubic-bezier(0.9, 0, 1, 1); }

/* line 354, ../src/scss/style.scss */
.bottomicons ul li:hover #smoke_01 { opacity: 0.6; height: 67px; transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out; }

/* line 363, ../src/scss/style.scss */
.bottomicons ul li:hover #smoke_02 { opacity: 0.6; height: 67px; transition: all 0.6s ease-in-out 0.2s; -ms-transition: all 0.6s ease-in-out 0.2s; -moz-transition: all 0.6s ease-in-out 0.2s; -webkit-transition: all 0.6s ease-in-out 0.2s; }

/* line 372, ../src/scss/style.scss */
.bottomicons ul li:hover #smoke_03 { opacity: 1; height: 67px; transition: all 0.6s ease-in-out 0.4s; -ms-transition: all 0.6s ease-in-out 0.4s; -moz-transition: all 0.6s ease-in-out 0.4s; -webkit-transition: all 0.6s ease-in-out 0.4s; }

/* line 383, ../src/scss/style.scss */
.carousel { height: 20em; margin-bottom: 2.5em; }
/* line 386, ../src/scss/style.scss */
.carousel .cycle-slideshow { height: 30em; }
/* line 389, ../src/scss/style.scss */
.carousel img { height: 70%; width: 130%; }

/* line 395, ../src/scss/style.scss */
.gallery_categories { width: 90%; margin-left: 6%; }
/* line 398, ../src/scss/style.scss */
.gallery_categories .one { margin-top: 4%; margin-right: 2%; width: 23%; text-align: center; }
/* line 403, ../src/scss/style.scss */
.gallery_categories .one h2 { font-family: DancingScript; font-size: 2.5em; margin-top: 0.2em; margin-bottom: 0.1em; color: white; }
/* line 410, ../src/scss/style.scss */
.gallery_categories .one p { padding: 0.5em; text-align: justify; color: white; }
/* line 415, ../src/scss/style.scss */
.gallery_categories .one:nth-child(1) { background-color: #ededed; }
/* line 417, ../src/scss/style.scss */
.gallery_categories .one:nth-child(1) h2, .gallery_categories .one:nth-child(1) p { color: #aaaaaa; }
/* line 421, ../src/scss/style.scss */
.gallery_categories .one:nth-child(1n+2) { background-color: #ededed; }
/* line 423, ../src/scss/style.scss */
.gallery_categories .one:nth-child(1n+2) h2, .gallery_categories .one:nth-child(1n+2) p { color: #aaaaaa; }
/* line 427, ../src/scss/style.scss */
.gallery_categories .one:nth-child(2n+2) { background-color: #aaaaaa; }
/* line 429, ../src/scss/style.scss */
.gallery_categories .one:nth-child(2n+2) h2, .gallery_categories .one:nth-child(2n+2) p { color: white; }
/* line 433, ../src/scss/style.scss */
.gallery_categories .one:nth-child(4n+4) { margin-right: 0em; }

/* line 440, ../src/scss/style.scss */
.gallery .one { padding: 1em; text-align: center; max-height: 16em; margin-top: 1.5em; }
/* line 445, ../src/scss/style.scss */
.gallery .one img { max-height: 12em; }
/* line 448, ../src/scss/style.scss */
.gallery .one p { color: #aaaaaa; }

@media only screen and (max-width: 767px) { /* line 455, ../src/scss/style.scss */
  .gallery_categories { width: 100%; margin-left: 0; }
  /* line 456, ../src/scss/style.scss */
  .gallery_categories .one { margin-right: 0; } }
