!!! 5
| <!--[if lt IE 7]><html class="no-js ie ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 7]>   <html class="no-js ie ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 8]>   <html class="no-js ie ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 9]>   <html class="no-js ie ie9 lt-ie10"><![endif]-->
| <!--[if gt IE 9]><html class="no-js ie ie10"><![endif]-->
| <!--[if !IE]><!-->
html.no-js
  | <!--<![endif]-->

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    block title
    link(rel='apple-touch-icon', href='../images/apple-icons/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon', sizes='57x57', href='../images/apple-icons/apple-touch-icon-57x57-precomposed.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../images/apple-icons/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../images/apple-icons/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../images/apple-icons/apple-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileImage', content='../images/apple-icons/apple-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#ffffff')
    // Modernizr 
    script(src='js/libs/modernizr-2.6.2.min.js')
    // jQuery 
    script(type='text/javascript', src='js/libs/jquery-1.9.1.min.js')
    // framework css 
    link(type='text/css', rel='stylesheet', href='css/global.css')
    // USER css
    link(type='text/css', rel='stylesheet', href='css/style.css')
    //if IE
      link(type='text/css', rel='stylesheet', href='css/global-ie.css')
    script(type='text/javascript').
      // extend Modernizr to have datauri test
      (function(){
        var datauri = new Image();
        datauri.onerror = function() {
          Modernizr.addTest('datauri', function () { return false; });
        };
        datauri.onload = function() {
          Modernizr.addTest('datauri', function () { return (datauri.width == 1 && datauri.height == 1); });
          Modernizr.load({
            test: Modernizr.datauri,
            nope: '../css/no-datauri.css'
          });
        };
        datauri.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
      })();
      // SVG support?
      Modernizr.load({
        test: Modernizr.inlinesvg,
        yep: [
          '../css/social-icons-svg.css'
        ],
        nope: [
          '../css/social-icons-png.css'
        ]
      });
      // polyfill for HTML5 placeholders
      Modernizr.load({
        test: Modernizr.input.placeholder,
        nope: [
          '../css/placeholder_polyfill.min.css',
          '../js/libs/placeholder_polyfill.jquery.js'
        ]
      });



body
    header.white.band.padded
      .container.mainhead.padded
        .row

            .three.third
                .one.logoimg
                    img(src='http://www.setsonthebeach.com.au/images/logo.png', alt='')
                .cycle-slideshow(data-cycle-fx='fade', data-cycle-pause-on-hover='true', data-cycle-speed="900")
                    img(src='http://henparties.kateandtoms.com/wp-content/uploads/2013/01/GirlsJump_CB10_ls_MISC_GIRLS_0322-1944-x-1296-1200x400.jpg', alt='')
                    img(src='http://henparties.kateandtoms.com/wp-content/uploads/2013/04/Newquay_Fistral_Beach-1200x400.jpg', alt='')
                    img(src='http://www.gusha.com.au/Photography/2060_large.jpg', alt='')
                    img(src='http://vegascrawl.com/wp-content/uploads/Baner-1-IP.jpg', alt='')
                    img(src='http://stagparties.kateandtoms.com/wp-content/uploads/2013/03/pictures.4ever.eu-bar-bartender-whisky-jack-daniels-166036-1200x400.jpg', alt='')
                    img(src='http://stagparties.kateandtoms.com/wp-content/uploads/2013/03/night-club-wide-1200x400.jpg', alt='')
                nav.nav.inline.menu.mainmenu.padded
                    ul
                        li
                            a(href='./home.html')
                                | Home
                        li
                            a(href='./home.html')
                                | About Us
                        li
                            a(href='./home.html')
                                | Gallery
                        li
                            a(href='./home.html')
                                | Request for quotation
                        li
                            a(href='./home.html')
                                | Contact
    .clear


    block content

    .clear

    footer.footer
        .container.padded
            .row.main_footer.padded
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://www.logotypes101.com/logos/6/D68BE57387FEA95D894F36D5D8F1AD79/Finlandia_Vodka77.png', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://ru.zemmrate.com/uploads/posts/2012-10/1349609933_1.jpg', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://uct-asia.com/wp-content/uploads/2012/06/Jim-beam-300x300.jpg', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://i.ebayimg.com/00/s/NjAwWDYwMA==/$(KGrHqEOKisE6UoGcNh9BOs0gUmqn!~~60_35.JPG', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://www.logotypes101.com/logos/119/9DFF894196C01B26DA4A9F9F10C4F3C1/Bacardi.png', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://www.logotypes101.com/logos/158/350AA94587E79E8A324C91CCE5AFC6F1/Heineken27.png', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://www.logotypes101.com/logos/205/F1617C04266A585BDBC418122A60FEA8/Martini.png', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://www.logotypes101.com/logos/826/4B29B2E6E571BB2B52371EE3C7710DF3/Metaxa199.png', alt='').centered
                .one.ninth.three-up-small-tablet.three-up-mobile
                    img(src='http://dynamicdeeds.com/wp-content/uploads/2013/07/redbull_logo-300x300.jpg', alt='').centered




// scripts
script(type='text/javascript', src='js/plugins/jquery.cycle2.js')
script(type='text/javascript', src='js/plugins/jquery.magnific-popup.js')
script(type='text/javascript', src='js/groundwork.all.js')
// google analytics
script(type='text/javascript').
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
